@import url(//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css);

@import url(https://fonts.googleapis.com/css?family=Ubuntu);

* {
    box-sizing: border-box;
}

body {
    font-family: 'Nanum Barun Gothic';
}

.floating {
    top: 30%;
    position: absolute;
    transition: all 1s ease-in;
}

.floating.waterTemp {
    left: 10%;
}

.floating.visibleLight {
    left: 30%;
}

.floating.DO {
    left: 50%;
}

.floating.airTemp {
    left: 70%;
}

.floating.disappear {
    transform: scale(0);
}

.floating.disappear {
    top: calc(100% - 200px);
}

.floating.waterTemp.disappear {
    left: 60px;
}

.floating.visibleLight.disappear {
    left: 110px;
}

.floating.DO.disappear {
    left: 160px;
}

.floating.airTemp.disappear {
    left: 210px;
}

.psv-navbar .psv-caption {
    font-family: 'Nanum Barun Gothic';
}

.psv-navbar .psv-button.compressed-button {
    display: none;
}

.psv-navbar .psv-button.custom-button {
    width: auto;
    text-align: center;
    transform: scale(1);
    transition: transform .3s ease, text-shadow 1s ease;
}

.psv-navbar .psv-button.compressed-button:hover svg {
    transform: scale(1.2);
}

.psv-navbar .psv-button.custom-button:hover {
    transform: scale(1.2);
}

.psv-navbar .psv-button.custom-button.on[title="Water temperature"] {
    text-shadow: 0px 0px 8px aqua, 0px 0px 8px aqua;
}

.psv-navbar .psv-button.custom-button.on[title="Visible light"] {
    text-shadow: 0px 0px 8px yellow, 0px 0px 8px yellow;
}

.psv-navbar .psv-button.custom-button.on[title="DO"] {
    text-shadow: 0px 0px 8px lime, 0px 0px 8px lime;
}

.psv-navbar .psv-button.custom-button.on[title="Air temperature"] {
    text-shadow: 0px 0px 8px white, 0px 0px 8px white;
}

.psv-hud .psv-marker.popup, .floating {
    padding: 1em;
    font-size: 3em;
    text-align: center;
}

.psv-hud .psv-marker.popup .circle, .floating .circle {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    padding: .3em;
}

.circle.waterTemp {
    background-color: aqua;
}

.circle.visibleLight {
    background-color: #F2CF2D;
}

.circle.DO {
    background-color: #68BFEA;
}

.circle.airTemp {
    background-color: #A3D850;
}

.psv-hud .psv-marker.popup p, .floating p {
    color: white;
    text-shadow: 0px 0px 16px black;
}

.psv-hud .psv-marker.popup .circle img , .floating .circle img {
    width: auto;
    height: 4em;
}

.psv-panel {
    min-width: 40vw;
}

.psv-panel .content {
    font-family: 'Nanum Barun Gothic';
}

/*
.psv-panel .content iframe {
    width: 100%;
    height: 100%;
}
*/

@media screen and (max-aspect-ratio: 1/1) {
    .psv-hud .psv-marker.popup:not(.svg-marker) {
        display: none;
    }
}

@media (max-width: 400px) {
    .psv-navbar .psv-button.custom-button {
        display: none;
    }
    
    .psv-navbar .psv-button.compressed-button {
        display: block;
    }
    
    .psv-navbar .psv-button.custom-button.phase {
        display: block;
    }
    
    .psv-navbar .psv-button.compressed-button.phase {
        display: none;
    }
}

iframe {
    width: 100%;
    height: 100%;
}

.psv-panel .content .main {
    height: 24vw;
}

@media (max-width: 1000px) {
    .psv-panel .content .main {
        height: calc(67.5vw - 16.2px);
    }
}

@media (max-width: 1000px) and (min-width: 424px) {
    .psv-panel .content .main {
        height: 276px;
    }
}