@import url(//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css);

@import url(https://fonts.googleapis.com/css?family=Ubuntu);

* {
    box-sizing: border-box;
}

body {
    font-family: 'Nanum Barun Gothic';
}

.psv-navbar .psv-caption {
    font-family: 'Nanum Barun Gothic';
}

.psv-navbar .psv-button.custom-button {
    width: auto;
}

@media screen and (max-aspect-ratio: 1/1) {
    .psv-container.has-navbar .psv-panel {
        max-height: 70vh;
    }
}

.psv-panel .content {
    font-family: 'Nanum Barun Gothic';
}